@model SampleApp.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<h1> Customer Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>

